.layers-container {
    position: relative;
}

.layer {
    position: absolute;
}

.current-time-container {
    height: 60px;
}

.current-time {
    border-bottom: 2px solid black;
    width: 50%;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}

.current-time-marker-top {
    top: 50px;
    height: 100px;
    width: 30%;
    border-right: 2px solid black;
}

.current-time-marker {
    position: absolute;
    top: -10px;
    height: 80px;
    width: 30%;
    border-right: 2px solid black;
    z-index: 100;
}

.exchange-row {
    margin-bottom: 15px;
}

.exchange-name {
    font-size: 16px;
    font-weight: bold;
}

.exchange-second-line {
    margin-bottom: 0;
}

.timeline {
    margin-top: 10px;
}

.timeline-frame-out {
    fill: black;
    opacity: 0.2;
}

.timeline-frame-regular {
    fill: green;
    opacity: 0.8;
}

.timeline-frame-premarket,
.timeline-frame-postmarket {
    fill: orange;
    opacity: 1;
}

.timeline-hour-break {
    stroke: white;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}
