.bottom-dash,
.bottom-dash:link,
.bottom-dash:hover,
.bottom-dash:visited,
.bottom-dash:active {
  text-decoration: none !important;
  border-bottom: 1px dashed;
}

.layers-container {
    position: relative;
}

.layer {
    position: absolute;
}

.current-time-container {
    height: 60px;
}

.current-time {
    border-bottom: 2px solid black;
    width: 70%;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    font-family: "Lucida Console", Monaco, monospace;
}

.current-time-marker-top {
    top: 50px;
    height: 100px;
    width: 30%;
    border-right: 2px solid black;
}

.current-time-marker {
    position: absolute;
    top: -10px;
    height: 60px;
    width: 30%;
    border-right: 2px solid black;
    z-index: 100;
}

.exchange-row {
     margin-top: 0;
     margin-bottom: 0;
     padding-top: 3px;
     padding-bottom: 3px;
}

.exchange-row:hover {
     background-color: #EEE; 
}

.row .col-xs-1,
.row .col-xs-2,
.row .col-xs-3,
.row .col-xs-4,
.row .col-xs-5,
.row .col-xs-6,
.row .col-xs-7,
.row .col-xs-8,
.row .col-xs-9,
.row .col-xs-10,
.row .col-xs-11,
.row .col-xs-12
{
    padding: 0 5px 0 5px;
}

.exchange-name {
    font-size: 16px;
}

.exchange-time {
    font-family: "Lucida Console", Monaco, monospace;
}

.timeline {
}

.timeline-frame-out {
    fill: black;
    opacity: 0.2;
}

.timeline-frame-regular {
    fill: green;
    opacity: 0.8;
}

.timeline-frame-premarket,
.timeline-frame-postmarket {
    fill: orange;
    opacity: 1;
}

.timeline-hour-break {
    stroke: white;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}
